parameters:
    level: 9
    paths:
        - diesis-jwt-auth.php
        - uninstall.php
        - src
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    treatPhpDocTypesAsCertain: false
